<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="container">
      <section class="row">
          <div class="col-md-12">
              <h2 class="header">Map</h2>
              <div class="map"></div>
          </div>
      </section>
      <section class="row">
          <div class="col-md-12">
              <h2 class="header">Graph</h2>
              <div class="graph"></div>
              
          </div>
      </section>
      <section class="row">
          <div class="col-md-12">
              <h2 class="header">Table</h2>
              <div class="table"></div>
          </div>
      </section>
    </div>
</body>

</html>