<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    {% include 'nav.html' %}
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">California Counties' Population, Average Median Income and Unemployment Rate</h2>
                <div>
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">California Counties' Unemployment Rate and Average Median Income</h2>
                <div>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">California Counties' Unemployment Rate and Population</h2>
                <div>
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </section>
    </div>
    <!-- <script type="text/javascript" src="../visuals_charts.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        const counties = {{ county| safe}};

        const incomes = {{ income| safe}};

        const populations = {{ population }};

        const unemployment = {{ rate| safe}};

        var data = []
        for (let i = 0; i < incomes.length; i++) {
            incomes[i] = Number(incomes[i].replace(/[^0-9.-]+/g, ""));
            unemployment[i] = parseFloat(unemployment[i]);
            data.push({ x: incomes[i], y: populations[i], r: unemployment[i], County: counties[i] });
        }

        const data1 = {
            datasets: [{
                labels: 'First Dataset',
                data: data,
                backgroundColor: 'rgb(255, 99, 132, 0.6)'
            }]
        };

        const config1 = {
            type: 'bubble',
            data: data1,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                return context.raw.County + ' County: Income $' + context.raw.x + ', Population ' + context.raw.y + ', Unemployment Rate ' + context.raw.r + '%';
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Income'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Population'
                        }
                    }
                }
            }
        };

        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            config1
        );

    </script>
    <script>

        var data = []
        for (let i = 0; i < incomes.length; i++) {
            unemployment[i] = parseFloat(unemployment[i]);
            data.push({ x: incomes[i], y: unemployment[i], County: counties[i] });
        }

        const data2 = {
            datasets: [{
                label: 'Scatter Dataset',
                data: data,
                backgroundColor: 'rgb(255, 99, 132, 0.8)'
            }],
        };

        const config2 = {
            type: 'scatter',
            data: data2,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                return context.raw.County + ' County: Income $' + context.raw.x + ', Unemployment Rate ' + context.raw.y + '%';
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Income'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Unemployment Rate'
                        }
                    }
                }
            }
        };

        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );
    </script>
    <script>

        var data = []
        for (let i = 0; i < incomes.length; i++) {
            unemployment[i] = parseFloat(unemployment[i]);
            data.push({ x: populations[i], y: unemployment[i], County: counties[i] });
        }

        const data3 = {
            datasets: [{
                label: 'Scatter Dataset',
                data: data,
                backgroundColor: 'rgb(255, 99, 132, 0.8)'
            }],
        };

        const config3 = {
            type: 'scatter',
            data: data3,
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                return context.raw.County + ' County: Population ' + context.raw.x + ', Unemployment Rate ' + context.raw.y + '%';
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Population'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Unemployment Rate'
                        }
                    }
                }
            }
        };

        const myChart3 = new Chart(
            document.getElementById('myChart3'),
            config3
        );

    </script>

</body>

</html>