<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet JavaScript code-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="../static/choropleth.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">Employment vs Unemployment of Each County in California</h2>
                <div class="graph">
                    <canvas id="graph" width="1000" height="400"></canvas>
                    <script>
                        var key = {{ key | safe}};
                        var employment = {{ employment | safe}};
                        var unemployment = {{ unemployment | safe}};
                        emp_num = [];
                        un_num = [];
                        if ((typeof employment[0] == 'string') || (typeof unemployment == 'string')) {
                            for (var i = 0; i < employment.length; i++) {
                                emp_num.push(Number(employment[i].replace(',', '')));
                                un_num.push(Number(unemployment[i].replace(',', '')));
                            }
                            employment = emp_num;
                            unemployment = un_num;
                        };

                        const ctx = document.getElementById('graph');
                        const graph = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: key,
                                datasets: [{
                                    label: 'Employed',
                                    data: employment,
                                    backgroudColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Unemployed',
                                    data: unemployment,
                                    backgroudColor: 'blue',
                                    borderColor: 'blue',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        display: true
                                    }
                                },
                                scales: {
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'County'
                                        }
                                    },
                                    y: {
                                        title: {
                                            display: true,
                                            text: 'Number of Individuals'
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-4">
                <h2 class="header">Data</h2>
                <div class="table table-striped" style="max-height: 400px; overflow: auto">
                    <table>
                        <thead style="position: sticky; top: 0;" class="thead-light">
                            <tr>
                                <th>County</th>
                                <th>Employed</th>
                                <th>Unemployed</th>
                                <th>Unemployment Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td> {{ row[0] }}</td>
                                <td> {{ row[1] }}</td>
                                <td> {{ row[2] }}</td>
                                <td> {{ row[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="header">Choropleth Map by Unemployment Rate</h2>
                <div id="map" style="height: 400px; z-index: 1;"></div>
            </div>
        </section>
    </div>
</body>
<script>
    // Map
    var map = L.map('map', {
        center: [36.7783, -119.4179],
        zoom: 6
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var rate = {{ rate | safe}};
    var rate_num = [];
    for (var i = 0; i < rate.length; i++) {
        rate_num.push(Number(rate[i].slice(0, -1)));
    };
    rate = rate_num;

    var geoData = '../static/Counties_In_California.geojson';
    var geojson;

    d3.json(geoData).then(data => {
        let counter = 0;

        for (var i = 0; i < rate.length; i++) {
            data.features[i].properties['Rate'] = rate[i]
        }

        geojson = L.choropleth(data, {
            valueProperty: 'Rate',
            scale: ['pink', 'red'],
            steps: 5,
            mode: 'q',
            style: {
                color: 'gray',
                weight: 1,
                fillOpacity: 0.6
            },

            onEachFeature: function (feature, layer) {
                layer.bindPopup('<strong>' + feature.properties.CountyName + '</strong><br /><br />' +
                    'Unemployment Rate: ' + feature.properties.Rate);
                counter++;
            }
        }).addTo(map);
        console.log(geojson);

        var legend = L.control({ position: 'topright' });
        legend.onAdd = function () {
            var div = L.DomUtil.create("div", "info legend");
            var limits = geojson.options.limits;
            var colors = geojson.options.colors;
            var labels = [];

            var legendInfo = '<h6>Unemployment Rate</h6><br>' +
                '<div class=\"labels\">' +
                "<div class=\"min\">" + limits[0] + "</div>" +
                "<div class=\"max\">" + limits[limits.length - 1] + "</div>" +
                "</div>";

            div.innerHTML = legendInfo;

            limits.forEach(function (limit, index) {
                labels.push("<li style=\"background-color: " + colors[index] + "\"></li>");
            });

            div.innerHTML += "<ul>" + labels.join("") + "</ul>";
            return div;
        };
        legend.addTo(map);
    });
</script>

</html>