<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> </title>
  <!-- Bootstrap Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Leaflet JavaScript code-->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <!-- leaflet-choropleth JavaScript -->
  <script type="text/javascript" src="../static/choropleth.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <!-- Navbar -->
  {% include 'nav.html' %}
  <div class="container">
    <section id="map-div" class="row">
      <div class="col-md-12">
        <h2 class="header">Map</h2>
        <div id="map"></div>
      </div>
    </section>
    <section class="row">
      <div class="col-md-12">
        <h2 class="header">Graph</h2>
        <div class="graph"></div>
      </div>
    </section>
    <section class="row">
      <div class="col-md-12">
        <h2 class="header">Table</h2>
        <div class="table table-striped">
          <table>
            <tr>
              <th>County</th>
              <th>{{ column2 }}</th>
            </tr>
            {% for row in data %}
            <tr>
              <td> {{ row[0] }}</td>
              <td> {{ row[1] }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </section>
  </div>
</body>
<script>
  var key = {{ key| safe}};
  var value = {{ value| safe}};
  var num_value = []
  console.log(typeof value[0])
  if (typeof value[0] == "string") {
    for (var i = 0; i < value.length; i++) {
      num_value.push(Number(value[i].replace(/[^0-9.-]+/g, "")));
    };
    value = num_value
  };
  console.log(typeof value[0]);

</script>

<script>
  // Map
  var map = L.map('map', {
    center: [36.7783, -119.4179],
    zoom: 3
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var geoData = '../static/Counties_In_California.geojson';
  var geojson;

  d3.json(geoData).then(data => {
    let counter = 0;

    geojson = L.choropleth(data, {
      valueProperty: value,
      scale: ['pink', 'red'],
      steps: 4,
      mode: 'q',
      style: {
        color: '#fff',
        weight: 1,
        fillOpacity: 0.8
      },

      onEachFeature: function (feature, layer) {
        layer.bindPopup('<strong>' + feature.properties.CountyName + '</strong><br /><br />' +
          'Income: $' + value[counter]);
        counter++;
      }
    }).addTo(map);

    var legend = L.control({ position: 'topright' });
    legend.onAdd = function () {
      var div = L.DomUtil.create("div", "info legend");
      var limits = geojson.options.limits;
      var colors = geojson.options.colors;
      var labels = [];

      var legendInfo = '<h1>California Counties by Income</h1><br>' +
        '<div class=\"labels\">' +
        "<div class=\"min\">" + limits[0] + "</div>" +
        "<div class=\"max\">" + limits[limits.length - 1] + "</div>" +
        "</div>";

      div.innerHTML = legendInfo;

      limits.forEach(function (limit, index) {
        labels.push("<li style=\"background-color: " + colors[index] + "\"></li>");
      });

      div.innerHTML += "<ul>" + labels.join("") + "</ul>";
      return div;
    };
    legend.addTo(map);
  });

</script>

</html>