<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> </title>
  <!-- Bootstrap Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

</head>

<body>
  <!-- Navbar -->
  {% include 'nav.html' %}

  <div class="container">
    <h2 style="text-align: center;">Project Overview</h2>
    <p>
      We are researching the demographics for California’s counties including the
      population size, average median income and unemployment rate. Our sources are all government
      sites including <a href="https://www.labormarketinfo.edd.ca.gov">The Labor Market Information Division of
        California</a>, <a href="https://www.hcd.ca.gov">The California Department of Housing and Community
        Development</a>, and <a href="https://dof.ca.gov">The California Department of Finance</a>. The dates range from
      2020 to 2021.<br><br>
      We downloaded files from each of the sites and converted the data to excel format. We created a web page for each
      data set that showcases the data with a geomap, a bar graph and a table. We have a seperate page for analysis that
      compares the data with a bubble graph, and two scatter plots.
    </p>
    <h4>Dennis Chen, Julie Kuo, Justin Ho, Nancy Campos, Scott Alexander, Sidney Bowe</h4>
  </div>
</body>

</html>