<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet JavaScript code-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="../static/choropleth.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">Map</h2>
                <div class="map"></div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">Graph</h2>
                <div class="graph"></div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                <h2 class="header">Table</h2>
                <div class="table"></div>
            </div>
        </section>
    </div>
</body>

</html>